body {
    background-image: url("images/hossein-nasr-upward.jpg") ;
    background-size: 100%;
}

#logo {
    width: 200px;
    height: 65px;
    margin: 5px;
}

nav{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color:#696d7d;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
    
    
}
button {
    background-color: #FAF3DD;
}

#home, #resume, #gallery, #contact {
    align-items:baseline;
    margin: 2px;
    padding: 2px;
}

#nam, #portrait, #advice {
    text-align: center;
    background-color: rgba(200,213,185, 0.8);   
    
}

#tech, #soft, #hobb {
    background-color: rgba(250, 243, 221, 0.8);
}

footer {
    text-align: left;
    background-color:#696d7d;
    margin: 10px;
    padding: 25px;
    border-radius: 10px;
}

#gHubLink {
    color: white;
}
